{% load static %}

{% load static %}

<div class="header container-fluid bg-white">
  <div id="menu-jk" class="nav-col text-white shadow-md mb-3">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 pt-2 pb-2 align-items-center">
                  <a href="{% url 'index' %}"><img class="max-230 mt-2" src="{% static 'images/go-vote5.png' %}" alt=""></a>
                  <!-- <a href="{% url 'index' %}"><h1><b style="color: #0D6EFD;">GO-Vote</b></h1></a> -->
                  <a  data-bs-toggle="collapse" data-bs-target="#menu" class="float-end text-dark d-lg-none pt-1 ps-3"><i class="bi pt-1 fs-1 cp bi-list"></i></a>
              </div>
              <div id="menu" class="col-lg-6 d-none d-lg-block">
                  <ul class="float-end mul d-inline-block">
                      <li class="float-md-start px-4 pe-1 pt-4">
                          <p class="fw-bold fs-8 text-primary"> Hello, {{request.user.username}}!</p>
                      </li>
                      <li class="float-md-start px-4 pe-1 py-3">
                        <a href="{% url 'signout' %}"><button class="btn fw-bold fs-8 btn-outline-primary px-5">Signout</button></a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>