{% extends 'main.html' %}
{% block content %}
    <body>
        
        <div class="container py-5 big-padding">
            <div class="row section-title">
                <h2 class="fs-5 text-center">Your Vote has been Recorded!</h2>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eleifend arcu et sem elementum faucibus. Vestibulum faucibus eleifend dolor, id luctus libero. Suspendisse commodo, orci eu mattis mattis, ante ligula porta tortor, ut scelerisque massa risus a quam.</p>
            </div>
            <div class="row mb-5">
                {% for contestant in specific_contestants %}
                <div class="col-md-6 mb-4">
                   <div class="row shado-md p-2 m-0 rounded shadow-md bg-white">
                       <div class="col-md-3">
                             <img class="rounded-pill max-130 p-2" src="assets/images/testimonial/member-01.jpg" alt="">
                       </div>
                       <div class="col-md-9 align-self-center">
                           <h4 class="mt-3 fs-5 mb-1 fw-bold">{{contestant.elect}}</h4>
                           <p class="fs-8 mb-2 fw-bold">Votes : {{contestant.votes_set.all}}</p>
                           <div class="progress">
                              <div class="progress-bar bg-danger" role="progressbar" aria-label="Example with label" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                          </div>
                       </div>
                   </div>
                </div>
                {% endfor %}
                 
            </div>
        </div>
{% endblock %}
   